<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bombitas_de_frutilla_y_yogur</title>
</head>
<body>

    <h1>Bombitas de frutilla y yogur</h1>

<img src="../Img/receta-bombitas-frutilla-400x250.jpg" width="300px" height="150px" alt="Foto de bombitas de frutilla y yogur">

    <h1> Ingredientes </h1>

    <ul>
        <li>12 Frutillas</li>
        <li> 400g de yogur </li>
    </ul>

    <h1>Preparación</h1>

    <iframe width="500" height="200" src="https://www.youtube.com/embed/p58OzH52cDc" 
    title="&quot;Lila Pause&quot;, bocaditos helados de yogur, frutilla y chocolate" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
    gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen=""></iframe>


    <ol type="1">
        <li>Batir el yogur hasta que quede cremoso y volcarlo en una cubetera, cubriendo 3/4 de su capacidad.</li>
        <li>Llevar al freezer por 1/2 hora y, mientras tanto, lavar y cortar las frutillas al medio.</li>
        <li>Colocar una a una en la cubetera, presionando hasta que queden al ras</li>
        <li>Cubrir con un film y congelar.</li>
        <li>¡Al momento de servir, solo hay que desmoldar y listo!</li>
    </ol>

    <a href="smoothie_de_sandia.html">Siguiente receta</a>
    <br>
    <a href="../../index.html">volver al inicio</a>

</body>
</html>    